/* General CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6; /* Improve readability */
    text-align: center; /* Center align text */
}

/* Background Colors */
.bg-indigo-50 {
    background-color: #ffffff; /* White */
}

.bg-indigo-600 {
    background-color: #0000ff; /* Blue */
}

.bg-white {
    background-color: #ffffff;
}

/* Text Colors and Sizes */
.text-indigo-600 {
    color: #4a5568;
    font-size: 4rem; /* Increased font size for first heading */
}

.text-gray-900 {
    color: #1a202c;
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #000000;
}

.text-3xl {
    font-size: 1.875rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.text-xl {
    font-size: 4rem; /* Increased font size for "Research" heading */
}

.font-bold {
    font-weight: bold;
}

/* Link Colors */
a {
    color: #1a0dab;
    text-decoration: none;
}

a:hover {
    color: #1a0dab;
    text-decoration: underline;
}

/* Other Styles */
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-2\.5 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pt-14 {
    padding-top: 3.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-16 {
    margin-top: 4rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
